/* A Free Design by Bryant Smith (bryantsmith.com)  */
/*
* {
    margin: 0 auto 0 auto;
    text-align:left;
	}
*/
 /*
 html, body {
    text-align: left;
	}
*/
 
body {
    width:961px;
	margin: 0;
	padding: 0;
/*    text-indent:0;*/
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-align: left;
/*    line-height: 1.5em;
	font-size: 12px;*/
	color: #000000;
	background-color: #FFFFFF;
	}

/*
p {
	text-align: left;
	}
*/

a, a:visited {
	text-decoration:none;
	color:#9B1313;
	}

a:hover {
	color:#9B1313;
	border-bottom:dashed 1px #DD6A6A;
	}

#main {
	width:961px;
	height:auto;
	padding-bottom:20px;
	}

/*
#header {
	color:black;
	clear:both;
	width:961px;
	height:25px;
	background-color:white;
	text-align:right;
	line-height:25px;
	}
*/

#header {
  height:100px;
  margin:0;
  padding:0;
  background-color:white;
}

#header_side {
  position:relative;
  top:0;
  left:0;
  width:961px;
  height:20px;
  text-align:right;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  margin-top:-1.0em;
}

#header_side ul {
  margin-right: 10px;
}

#header_side ul li {
	width: 8em;
	float: right;
	list-style: none;
/*	text-align: right;*/
	}
/*
#header_side li li ul {
	width: 15em;
	}
*/
#logo {
  position: absolute;
  left: 0px;
  top: 0px;
}

#title {
  position: absolute;
  left: 60px;
  top: 12px;
  margin-top: 0.4em;
  font-family: "Times New Roman", Times, serif;
  font-size: 28px;
  font-weight: bold;
}
#slogan{
  position: absolute;
  left: 30px;
  top: 60px;
  margin-top: 0.4em;
  font-family:"Times New Roman", Times, serif;
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
}
/*
#header a, #header a:visited, #header a:hover {
	font-size:12px;
	font-weight:bold;
	//color:#FFFFFF;
	color:blue;
	padding-left:12px;
	padding-right:5px;
	text-decoration:none;
	line-height:25px;
	}

#header a:hover { 
	color:#F2EAEA;
	border:none;
	}
*/

#sf-menu {
  background-color:#FFA500;
  margin:0;
  padding:0;
}

#sf-menu ul {
  width: 100%;
  text-align: left;
  height: 25px;
}

#sf-menu ul li {
	width: 106px;
	float: left;
	list-style: none;
	text-align: center;
	}

#sf-menu li li ul {
	width: 106px;
	}

#sf-menu a, #sf-menu a:visited, #sf-menu a:hover {
	font-size: 10px;
	font-weight: bold;
	//color: #FFFFFF;
	color: white;
	margin: 0;
	padding:0;
	padding-left: 7px;
	padding-right: 3px;
	text-decoration: none;
	line-height: 40px;
	}

#sf-menu a:hover { 
	color:#F2EAEA;
	border:none;
	}

/*
.subHeader {
	margin-top:20px;
	margin-bottom:4px;
	width:150px;
	height:20px;
	background-image:url(../SimpleFactorial/right_header.png);
	text-align:center;
	}

.subHeader h3 {
	font-size:13px;
	line-height:20px;
	color:#FFFFFF;
	text-align:center;
	}
*/
#contentColumn {
	float:left;
	width:961px;
	}

#contentColumn p {
	text-align:left;
	#line-height:25px;
	#letter-spacing:-1px;
	margin:6px;
	}

#footer {
	color:#ffffff;
	font-size:10px;
	clear:both;
	width:961px;
	height:25px;
	background-image:url(header_footer.png);
	background-repeat:no-repeat;
	text-align:center;
	line-height:25px;
	font-weight:normal;
	}

#footer a, #footer a:visited, #footer a:hover {
	font-size:10px;
	color:#FFFFFF;
	text-decoration:none;
	line-height:25px;
	}
/*
#navColumn {
	float:left;
	width:200px;
	padding-top:50px;
	}

.divider {
	background-image:url(divider.jpg);
	width:728px;
	height:3px;
	margin-bottom:10px;
	}
*/
/*
ul,  li {
	text-align:center;
	padding:3px;
	list-style-image:url(link_image.png);
	}
*/
