{% extends "page_template.html" %}
{% block content %}
<div class="PageContentBlock">
<h2>About Khan Academy</h2>
<p>The members of this site are advocates for the philosophy espoused by Salman Khan of Khan Academy to leverage technology to change the paradigm of learning.  <span style="font-weight: bold;">This site is not affiliated with Khan Academy and Khan Academy is not responsible for the positions or actions of those involved with this site.</span></p>

<p>The following are some good sources of information about the philosophy and efforts of Salman Khan/Khan Academy:
    <ol class="list1">
    <li><a href="http://www.youtube.com/watch?v=gM95HHI4gLk&feature=player_embedded" target="_blank">Video of Salman Khan's Famous TED Presentation</a></li>
    <li><a href="http://www.khanacademy.org/talks-and-interviews" target="_blank">Links to various videos and interviews about Khan Academy and Salman Khan</a></li>
    <li><a href="http://www.khanacademy.org" target="_blank">Main Khan Academy Web Site</a></li>
    </ol>
</p>
</div>
<br/><br/>
{% endblock content %}