{% extends "page_template.html" %}
{% block content %}
<div class="PageContentBlock">
<h2>About Us</h2>
<p>The members of this site are advocates for better education everywhere in the world.</p> 
<p>We support the philosophy espoused by Salman Khan of Khan Academy to leverage technology to change the paradigm of learning.  <span style="font-weight: bold;">This site is not affiliated with Khan Academy and Khan Academy is not responsible for the positions or actions of those involved with this site.</span></p>
<p>We are working to:
    <ol class="list1">
    <li>maximize the number of people world-wide with access to effective learning tools such as Khan Academy by making such resources available in as many languages as possible:</li>
        <ol class="lista">
        <li>Making as many quality <span style="font-weight: bold;">Learning Resources</span> available in as many languages as possible</li>
        <li>Making a quality <span style="font-weight: bold;">Learning Platform:</span> available in as many languages as possible</li>
        <li><span style="font-weight: bold;">Learners/Programs:</span> How to get learners involved and succeeding using the platform and learning resources</li>
        <li><span style="font-weight: bold;">Misc Discussions:</span> Goals, Strategies, Alliances & Partnerships, Recruitment & Organization, etc.</li>
        </ol>
    <li>maximize the number of people world-wide taking advantage of effective learning tools such as Khan Academy</li>
        <ol class="lista">
        <li>Maximizing awareness of learning tools such as Khan Academy among potential learners and anyone else involved in advancing learning</li>
        <li>Motivating potential learners to take advantage of effective learning tools (including finding ways to change the attitude of those not currently interested in learning)</li>
        <li>Motivating potential partners to support efforts to promote effective learning in their respective societies</li>
        </ol>
    </ol>
</p>
<p>We are idealistic with no commercial interest (although we recognize a self-interest of minimizing the number of people who fail to become productive and contributing members of society because the rest of us otherwise have to pay for these people for the rest of their lives).</p>

</div>
<br/><br/>
{% endblock content %}
