{% extends "page_template.html" %}
{% block content %}
<div class="PageContentBlock">
<h2>About This Site</h2>
<p>This site is intended to provide a place for advocates for better education based on the philosophies of Salman Khan and the efforts of Khan Academy to share problems and ideas and collaborate on efforts to improve educational achievement world-wide.</p>
<div class="addlmargin">
<ul>
<li><a href="#focus">Focus of this site</a></li>
<li><a href="#technology">Site Technology</a></li>
<li><a href="#todo">Issues/ToDos</a></li>
<li><a href="#devhelp">Developer Help Needed</a></li>
</ul>
</div>
<h4><a name="focus">There are 2 major focuses to this site:</a></h4>
<ol class="list1">
    <li><span style="font-side: 16px; font-weight: bold;">A Discussion Forum where advocates can share and discuss ideas, problems and experiences.</span>  Papers, Questions, etc. are divided into 4 broad categories that are represented on the main menu of the site:</li>
    <ol class="lista">
        <li><span style="font-weight: bold;">Learning Resources:</span> How to obtain or link in Learning resources in each language and education jurisdiction</li>
        <li><span style="font-weight: bold;">Learning Platform:</span> How to get a platform available in all applicable languages and provide maximum learning functionality</li>
        <li><span style="font-weight: bold;">Learners/Programs:</span> How to get learners involved and succeeding using the platform and learning resources</li>
        <li><span style="font-weight: bold;">Misc Discussions:</span> Goals, Strategies, Alliances & Partnerships, Recruitment & Organization, etc.</li>
    </ol>
    <li><span style="font-side: 16px; font-weight: bold;">Translation Efforts related to Khan Academy:</span></li>
    <ol class="lista">
        <li><span style="font-weight: bold;">Topic/Learning Unit Names:</span> The names that are visible</li>
        <li><span style="font-weight: bold;">Templates:</span> This is the name of the files that have language-related content.  Templates fall into the following categories:</li>
            <ol class="listi">
                <li><span style="font-weight: bold;">Page Content:</span> The templates that contain the static content on pages.</li>
                <li><span style="font-weight: bold;">Container Templates:</span> These are the parts of a web page surrounding other templates (currently the site-template and the exercise-wrapper template).</li>
                <li><span style="font-weight: bold;">Exercise Templates:</span> These are the templates that contain the actual content for individual exercises.</li>
                <li><span style="font-weight: bold;">Function Templates:</span> These are the javascript files that generate content that go into other templates, in particular the Exercise Templates.</li>
                <li><span style="font-weight: bold;">Report Templates:</span> These are the templates that contain report content for learners and coaches.</li>
                <li>Etc.</li>
    </ol>
</ol>
</p>
<p>The site is still under development.  Some functionalities do not yet exist.  Please provide feedback to make the site better and please be patient as we complete and enhance the site.</p>
<p><span style="font-weight: bold;">NOTE:</span> The translation efforts are based on the philosopy of translating as much as possible as quickly as possible and then tackle the tougher issues.  We will find more tougher issues as we proceed, but currently known issues include:
<ol class="list1">
    <li>Issues related to right-to-left languages such as Arabic and Hebrew.</li>
    <li>Generated text content that involves grammar (especially dealing with langauges where spelling of nouns, verbs, adjectives, pronouns, etc. is based on gender, case, plurality, etc.).</li>
    <li>Generated graphic content that might not take language, or methods into consideration.</li>
    <li>Issues related to disagreement on desired methods for math and other subjects or on content to be taught.</li>
</ol>
</p>
<h2><a name="technology">Site Technology:</a></h2>
<p>This site is developed in Python for Google App Engine (because this is the technology being used by Khan Academy).  It also uses webapp2, ndb, jQuery (Superfish menu) and ckEditor.</p>
<h2><a name="todo">Site Issues/ToDos:</a></h2>
<ol class="list1">
    <li>Add option to be automatically notified when new papers or comments to papers are posted.</li>
    <li>Ensure expanded character sets for foreign languages are enabled everywhere.</li>
    <li>Enable uploading of images and embedding of images in papers.</li>
    <li>Add 5-star rating of papers and comments.</li>
    <li>Enable exporting of translated files</li>
    <li>Enable "try-it" functionality for translated exercises.</li>
    <li>Document the process for setting up the foreign language site from A-Z and keeping it up-to-date.</li>
    <li>Add functionality for posting news of interest about Khan Academy, events in the various countries or education in general.</li>
    <li>General clean-up and adding of exception handling.</li>
</ol>
<h2><a name="devhelp">Developer Help Needed:</a></h2>
<p>This site has been developed in a purely volunteer basis.  Additional volunteers are needed to help polish and enhance the site as well as administer the site.  Don't know Python or Google App Engine? HTML, CSS, Javascript, jQuery and graphic design capabilities are also sorely needed.  Testers and functionality designers are also needed.  If you are interested in helping please send feedback stating that you would like to help.</p>

<br/><br/>
{% endblock content %}
