{% extends "page_template.html" %}
{% block content %}
<div class="PaperCommentTitle">
<h1>{{Comment.Title}}</h1>
</div>
<div class="PageContentBlock">
{{Comment.Text}} 
</div>
<form action="" method="post">
  <div class="field-wrapper">
    <div class="field-label">
      <label for="id_Title">Subject</label>:
    </div>
    <div class="field-field">
      <input type="text" name="Title" id="Title" />
    </div>
  </div>

  <div class="field-wrapper">
    <div class="field-field">
      <input type="hidden" name="RefObjType" value="{{ RefObjType }}" id="RefObjType" />
    </div>
  </div>

  <div class="field-wrapper">
    <div class="field-field">
      <input type="hidden" name="RefObjID" value="{{ RefObjID }}" id="RefObjID" />
    </div>
  </div>

  <div class="field-wrapper">
    
    <div class="field-label">
      <label for="id_Text">Text</label>:
    </div>
    
    <div class="field-field">
      <!-- <input type="text" name="text" id="id_text" /> -->
      <textarea class="field-field" rows="10" cols="50" id="editor1" name="Text" ></textarea>
      <script type="text/javascript">
			//<![CDATA[

				CKEDITOR.replace( 'editor1',
				{
					fullPage : false
					
				});
					
				
			//]]>
			</script>
    </div>
  </div>

  <br>
  <input type="submit" value=submit />
</form>

{% endblock content %}

