{% extends "page_template.html" %}
{% block content %}
<h2 style="text-align: center;">Feedback</h2>
<p><a href="/feedback/create">Add New Feedback</a></p>
{% if Havepapers: %}
    <table width = 100% border=2 cellspacing=0 cellpadding=2>
      <thead>
        <tr>
          <th>Title</th>
          <th>Feedback</th>
          <th>Created Date</th>
          <th>CreatedBy</th>
          {% if currentuser|AccessOK(1) %} 
          <th>Edit</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for paper in papers %}
        <tr>
          <td><a href ="/papers/display/{{ paper.key.id() }}"> {{ paper.Title }} </a></td>
          <td> {{ paper.Text }} </td>
          <td> {{ paper.CreatedDate }} </td>
          <td> {{ paper.CreatedBy }} </td>
          {% if currentuser|AccessOK(1) %} 
            <td><a href ="/papers/edit/{{paper.key.id()}}/?cat={{cat}}">edit </a></td> 
          {% endif %}
        </tr>
        {% endfor %}	
      </tbody>
    </table>
{% else: %}
    <p style="text-align: center;">Be the first to enter feedback.</p>
{% endif %}
<p><a href="/feedback/create">Add New Feedback</a> </p>
{% endblock content %}
