{% extends "page_template.html" %}
{% block content %}
<div class="PaperTitle">
<h2>Template: {{ genfile.TemplateName }} in Language: {{ genfile.LangCode }}</h2>
</div>
<div class="PageContentBlock">
  <div class="field-wrapper">
    <div class="field-label">
      <label for="id_Text">File Text</label>:
    </div>
    <div class="field-field">
      <textarea class="field-field" rows="40" cols="120" id="editor2" name="Text" >{{ genfile.FileTxt }}</textarea>
	  <script type="text/javascript">
		//<![CDATA[

			CKEDITOR.replace( 'editor2',
			{
                toolbar :
                    [
                    ['Source']
                    ]
	
			});
				
		//]]>
		</script>
	</div>
    <div style="clear: both;"></div>
  </div>

</div>
<br/><br/>
{% endblock content %}
