{% extends "page_template.html" %}
{% block content %}
<div class="PageContentBlock">
    <div id="leftcontent">
    <h4 id="welcomeHeader">Welcome to the site where advocates for better education collaborate to improve educational achievement.</h4>
    <p>This site is intended to provide a place for advocates for better education based on the philosophies of Salman Khan and the efforts of Khan Academy to share problems and ideas and collaborate on efforts to improve educational achievement world-wide.</p>

    <div class="addlmargin">
    <ul>
        <li><a href="#focus">Focus of this site</a></li>
        <li><a href="#org">How the site is organized</a></li>
        <li><a href="#trans">The translation efforts</a></li>
        <li><a href="#issues">Issues</a></li>
    </ul>
    </div>

    <h4><a name="focus">There are 2 major focuses to this site:</a></h4>
    <ol class="list1">
        <li><span style="font-side: 16px; font-weight: bold;">A Discussion Forum where advocates can share and discuss ideas, problems and experiences.</span>  Discussion Papers, Questions, Problems, Experience Reports, etc. are divided into 4 broad categories that are represented on the main menu of the site (Learning Resources/Videos, Learning Platform, Learners/Programs, Misc Discussions).</li>
        <li><span style="font-side: 16px; font-weight: bold;">Translation efforts related to making the Khan Academy Platform available in every language.</span></li>
    </ol>
    <h4><a name="org">How the site is organized:</a></h4>
    <p>The core of the site is accessable through 4 items on the main menu:
    <div style="text-align: center;"><img src="/images/MenuCenter.png" width="400px" /></div>
    <ol class="list1">
        <li><span style="font-weight: bold;">Learning Resources:</span> Everything and anything related to obtaining learning resourses/videos, etc., in each language.</li>
        <li><span style="font-weight: bold;">Learning Platform:</span> Everything and anything related to having a platform available in all applicable languages that enables learners to assess their knowledge and track their progress as well enabling coaches to track progress.</li>
        <li><span style="font-weight: bold;">Learners/Programs:</span> Everything and anything related to getting learners involved and succeeding using the platform and learning resources.</li>
        <li><span style="font-weight: bold;">Misc Discussions:</span> Where you will find discussions about Goals, Strategies, Alliances & Partnerships, Recruitment & Organization, etc.</li>
    </ol>
    </p>
    <h4><a name="trans">What about the translation efforts?</a></h4>
    <p>A major part of this site is dedicated to supporting the efforts to make the Khan Academy Platform available in any language.  Almost everything related to the platform translation effort can be found under the <span style="color: red; font-weight: bold;">Platform Menu Item</span> (where else):
    <div style="text-align: center;"><img src="/images/MenuExercise.png" width="400px" /></div>
    <ol class="list1">
        <li><span style="font-weight: bold;">Topic/Learning Unit Names:</span> The names that are visible on the Knowledge/Learning Map.</li>
        <li><span style="font-weight: bold;">Templates:</span> This is the name of the files that have language-related content.  The language related content has been replaced with placeholders which we are calling tokens.  There are database records for each token for each language.  Once all the tokens for a particular language have been translated in the database, a translated file can be generated whereby the tokens are replaced with the translated text for the applicable language.  Templates fall into the following categories:</li>
            <ol class="lista">
                <li><span style="font-weight: bold;">Page Content:</span> The templates that contain the static content on pages.</li>
                <li><span style="font-weight: bold;">Container Templates:</span> These are the parts of a web page surrounding other templates (currently the site-template and the exercise-wrapper template).</li>
                <li><span style="font-weight: bold;">Exercise Templates:</span> These are the templates that contain the actual content for individual exercises.</li>
                <li><span style="font-weight: bold;">Function Templates:</span> These are the javascript files that generate content that go into other templates, in particular the Exercise Templates.</li>
                <li><span style="font-weight: bold;">Report Templates:</span> These are the templates that contain report content for learners and coaches.</li>
                <li>Etc.</li>
            </ol>
    </ol>
    </p>
    <p>The basic concept behind the translation of the Exercise Platform is that every language will have its own set of files that mirror the original Khan Academy files, except in their own language.  The purpose of the application functionality of this site is to make the process of translating and managing the translations as easy as possible and minimizing the need for a technical background.</p>
    <h4><a name="issues">Issues:</a></h4>
    <p>The site is still under development.  Some functionalities do not yet exist.  Please provide feedback to make the site better and please be patient as we complete and enhance the site.</p>
    <p><span style="font-weight: bold;">NOTE:</span> The translation efforts are based on the philosopy of translating as much as possible as quickly as possible and then tackle the tougher issues.  We will find more tougher issues as we proceed, but currently known issues include:
    <ol class="list1">
        <li>Issues related to right-to-left languages such as Arabic and Hebrew.</li>
        <li>Generated text content that involves grammar (especially dealing with langauges where spelling of nouns, verbs, adjectives, pronouns, etc. is based on gender, case, plurality, etc.).</li>
        <li>Generated graphic content that might not take language, or methods into consideration.</li>
        <li>Issues related to disagreement on desired methods for math and other subjects or on content to be taught.</li>
    </ol>
    </p>
    </div>  <!-- end of leftcontent -->
    <script type="text/javascript">
    $(document).ready(function () {
      $('#test').rssfeed('http://feeds.reuters.com/reuters/oddlyEnoughNews', {
        limit: 5
      });
    });
    </script>    
    <div id="rightsidebar"">
    <div id="test">
    </div>
    <div class="rcntlist">
    {% if Havepapers %}
        <table width = 90% border=1 cellspacing=0 cellpadding=2>
          <thead>
            <tr>
              <th style="text-align: center;">Most Recent Papers</th>
            </tr>
          </thead>
          <tbody>
            {% for paper in papers %}
            <tr>
              <td>
              {% if currentuser|AccessOK(110): %} 
                <a href ="/papers/display/{{ paper.key.id() }}"> {{ paper.Title }} </a>({{ paper.Category }})
              {% else: %}
                {{ paper.Title }} ({{ paper.Category }})
              {% endif %}
              </td>
            </tr>
            {% endfor %}	
          </tbody>
        </table>
    {% else %}
        <p style="text-align: center;">No papers yet.</p>
    {% endif %}
    </div>
    </div>
    
</div>

<br/><br/>
{% endblock content %}
