{% extends "page_template.html" %}
{% block content %}
<div class="PageContentBlock">
    <div id="leftcontent">
    <h4 id="welcomeHeader">Welcome to the site where advocates for better education collaborate to improve educational achievement.</h4>
    <p>This site is intended to provide a place for advocates for better education based on the philosophies of Salman Khan and the efforts of Khan Academy to share problems and ideas and collaborate on efforts to improve educational achievement world-wide.</p>

    <h4><a name="focus">There are 2 major focuses/purposes to this site:</a></h4>
    <ol class="list1">
        <li><span style="font-side: 16px; font-weight: bold;">A Discussion Forum where advocates can share and discuss ideas, problems and experiences.</span>  Discussion Papers, Questions, Problems, Experience Reports, etc. are divided into 4 broad categories that are represented on the main menu of the site (Learning Resources/Videos, Learning Platform, Learners/Programs, Misc Discussions).</li>
        <li><span style="font-side: 16px; font-weight: bold;">Tools for non-technical users to support the translation efforts related to making the Khan Academy Platform available in every language, including the ability to try the exercises out in different languages.</span>
          <div id="slides" style="text-align:center;">
            <div class="slides_container">
                <div>
                    <img src="/images/RndNbrs_cs.png" height="390px">
                </div>
                <div>
                    <img src="/images/RndNbrs_zh.png" height="390px">
                </div>
                <div>
                    <img src="/images/RndNbrs_nl.png" height="390px">
                </div>
                <div>
                    <img src="/images/RndNbrs_de.png" height="390px">
                </div>
                <div>
                    <img src="/images/RndNbrs_en.png" height="390px">
                </div>
            </div>
          </div> 
<!--        <div style="text-align: center;"><img src="/images/RndNbrs_en_zh.png" width="640px" /></div> -->
        </li>
    </ol>
    <h4><a name="org">How the site is organized:</a></h4>
    <p>The core of the site is accessable through 5 items on the main menu:
    <div style="text-align: center;"><img src="/images/MenuCenter.png" width="600px" /></div></p>
    <p>Mouse over the menu choices for information about what is included in that menu item.</p>
<!--
    <ol class="list1">
        <li><span style="font-weight: bold;">Videos, Etc.:</span> Everything and anything related to obtaining learning resourses/videos, etc., in each language.</li>
        <li><span style="font-weight: bold;">Platform:</span> Everything and anything related to having a Learning Platform available in all applicable languages that enables learners to assess their knowledge and track their progress as well enabling coaches to track progress.</li>
        <li><span style="font-weight: bold;">Learners/Programs:</span> Everything and anything related to getting learners involved and succeeding using the platform and learning resources.</li>
        <li><span style="font-weight: bold;">Misc Discussions:</span> Where you will find discussions about Goals, Strategies, Alliances & Partnerships, Recruitment & Organization, etc.</li>
        <li><span style="font-weight: bold;">Translation Tools:</span> Where you will find the Tools and the Current Status of different language versions of the Exercise Platform, Video Names and other content on the Khan Academy website.  See <a href="/how/trans">How to Translate Exercise Platform Content</a> for detailed documentation of the steps to translating exercises.</li>
    </ol>
    </p> -->
<!--
   <h4><a name="issues">Issues:</a></h4>
    <p>The site is still under development.  Some functionalities do not yet exist.  Please provide feedback to make the site better and please be patient as we complete and enhance the site.</p>
    <p><span style="font-weight: bold;">NOTE:</span> The translation efforts are based on the philosopy of translating as much as possible as quickly as possible and then tackle the tougher issues.  We will find more tougher issues as we proceed, but currently known issues include:
    <ol class="list1">
        <li>Issues related to right-to-left languages such as Arabic and Hebrew.</li>
        <li>Generated text content that involves grammar (especially dealing with langauges where spelling of nouns, verbs, adjectives, pronouns, etc. is based on gender, case, plurality, etc.).</li>
        <li>Generated graphic content that might not take language, or methods into consideration.</li>
    </ol>
    </p> -->
    </div>  <!-- end of leftcontent 'http://feeds.reuters.com/reuters/greece' -->
<!--
    <script type="text/javascript">
    $(document).ready(function () {
      $('#test').rssfeed('https://news.google.com/news/feeds?um=1&ned=us&hl=en&q=khan+academy&output=rss', {
        limit: 5
      });
    });
-->
    </script>    
    <div id="rightsidebar"">
        <div class="rcntlist">
        {% if Havepapers %}
            <table width = 90% border=1 cellspacing=0 cellpadding=2>
              <thead>
                <tr>
                  <th style="text-align: center;">Most Recent Discussions</th>
                </tr>
              </thead>
              <tbody>
                {% for paper in papers %}
                <tr>
                  <td>
                  {% if currentuser|AccessOK(110): %} 
                    <a href ="/papers/display/{{ paper.key.id() }}"> {{ paper.Title }} </a>({{ paper.Category }})
                  {% else: %}
                    {{ paper.Title }} ({{ paper.Category }})
                  {% endif %}
                  </td>
                </tr>
                {% endfor %}	
              </tbody>
            </table>
        {% else %}
            <p style="text-align: center;">No Discussions yet.</p>
        {% endif %}
        </div>
        <div id="test">
        </div>
    </div>
    
</div>

<br/><br/>
{% endblock content %}
