{% extends "page_template.html" %}
{% block content %}
<div class="PageContentBlock">
<h3>How to use this site</h3>
<p>This page is the introduction to several sections intended to help the user undersand the features of this site and how best to use them.
<ol class="list1">
    <li>Participating in Discussions: Posting, reading and commenting on Discussion Papers (coming soon)</li>
    <li>Posting and commenting on Questions and Problem Descriptions (coming soon)</li>
    <li><a href="/how/trans">How to Translate Exercise Platform Content</a></li>
	<li>How to submit and comment on Feedback (coming soon)</li>
</ol>
</p>
<p>If you have suggestions for other types of documentation, please submit these via feedback.</p>
</div>
<br/><br/>
{% endblock content %}
