{% extends "page_template.html" %}
{% block content %}
{% if SubjAreaFilter: %}
    <h2 style="text-align: center;">Add New Subject for Subject Area: {{SubjAreaFilter}}</h2>
{% else: %}
    <h2 style="text-align: center;">Add New Subject</h2>
{% endif %}
<p><a href ="/subjs?SubjAreaFilter={{ SubjAreaFilter }}&StatusFilter=all&langCode={{langCode}}&rq=2"> Return to Subject List</a></p>
<br /><br />

<form action="" method="post">
  <div class="field-wrapper">
    <div class="field-label">
      <label for="id_LearnUnitName">Learning Unit Name</label>:
    </div>
    <div class="field-field">
      <input type="text" name="Name" id="id_LearnUnitName" size="80" />
    </div>
  </div>
<br />
  <div class="field-wrapper">
    <div class="field-label">
      <label for="id_Subject">Subject</label>:
    </div>
    <div class="field-field">
        <select name="Subject">
        {% for Subject in SubjectList %}
            <option value="{{Subject}}" 
            {% if Subject == SubjAreaFilter %}
                selected="selected"
            {% endif %}
            >{{Subject}}</option>
        {% endfor %}
        </select>
    </div>
  </div>
<br />

 <div class="field-wrapper">
    <div class="field-label">
      <label for="id_Description">Description</label>:
    </div>
    <div class="field-field">
      <input type="text" name="Description" id="id_Description" size="120" />
    </div>
  </div>

  <br>
  <input type="submit" value=submit />
</form>

{% endblock content %}

