{% extends "page_template.html" %}
{% block content %}
<div>
<table width="100%" border="0" bordercolor="red" cellpadding="0" cellspacing="0">
    <tr style="vertical-align:middle;"><td>
        <table border="1" bordercolor="red" cellpadding="9" cellspacing="0">
            <tr><td>
                <a href ="/topgrps?StatusFilter=all&langCode={{langCode}}&SubjFilter={{SubjFilter}}&rq=2"> Return to Topic Groups</a>
            </td><td style="background-color:pink;">
                <a href ="/unitsedit?TopGrpFilter={{ TopGrpFilter }}&StatusFilter=all&langCode={{langCode}}&Typ={{Typ}}&rq=2"> Switch to Edit Mode</a>
            </td></tr>
        </table>
    </td><td style="float: left;">
        <table border="1" bordercolor="red" cellpadding="3" cellspacing="0">
            <tr><td style="vertical-align:middle; text-align: right;">
                Filter List:
            </td><td>
            <!--    <div style="float: left;"> -->
                <form method="GET" style="margin-right: 10px;">
                <select name="langCode">
                    {% for language in languages %}
                            <option value="{{language.langCode}}" 
                            {% if language.langCode == langCode %}
                            selected="selected"
                            {% endif %}
                            >{{language.langName}}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="Select Language">
                </form>
            </td><td>
                <form method="GET">
                  <div class="field-wrapper" style="float: left; margin-left: 10px;">
                    <div class="field-field">
                        <select name="StatusFilter">
                            <option value="all" 
                            {% if 'all' == StatusFilter %}
                                    selected="selected"
                                {% endif %}
                                >All</option>
                            {% for Status in StatusList %}
                                <option value="{{Status}}" 
                                {% if Status == StatusFilter %}
                                    selected="selected"
                                {% endif %}
                                >{{Status}}</option>
                            {% endfor %}
                        </select>
                    </div>
                  </div>
                  <input style="float: left; margin-left: 10px; text-align:bottom;" type="submit" value="Select Status">
                </form>
            </td></tr>
        </table>
    </td></tr>
</table>
{% if TopGrpFilter: %}
    <h2 style="text-align: center;">Exercise Topics for Topic Group: {{TopGrpFilter}}</h2>
{% else: %}
    <h2 style="text-align: center;">List of Exercise Topics</h2>
{% endif %}
{% if langCode != 'en': %}
<p>There are {{count_en}} Topics in English and {{count_other_language}} Topics in {{langName}}.
  {% if count_en > count_other_language: %}
    	  <td style="text-align: center;"><a href ="/units/clone?langCode={{langCode}}"> Clone missing Topics.</a></td>
        {% endif %}
  {% endif %}
  Please note that Topics names in other languages are initially the same as in English until you translate them.   <span style="text-align: center; color: red; font-weight: bold;">Note: The ID = the original name in English and cannot be changed.</span><br />
  <span style="color:red; font-weight:bold;">Click on the template name if present to go to the translation page for the exercise content.</span>
</p>
{% if currentuser|AccessOK(221) and langCode == 'en' %} 
    {% if TopGrpFilter: %}
        <p><a href="/units/create?TopGrpFilter={{TopGrpFilter}}">Add New Exercise Topic</a></p> 
    {% else: %}
        <<p><a href="/units/create">Add New Exercise Topic</a></p> 
    {% endif %}
{% endif %}
<table width = 100% border=2 cellspacing=0 cellpadding=2>
  <thead>
    <tr>
      <th>Seq</th>
      <th>Name</th>
      <th>ID</th>
      <th>Subject</th>
      <th>Language</th>
      <th>Template</th>
      <th>Try-It</th>
	  <th>Created Date</th>
      <th>Status</th>
      <th>Status Date</th>
<!--      <th>Edit</th> -->
    </tr>
  </thead>
  <tbody>
    {% for unit in units: %}
	<tr>
	  <td> {{ unit.Seq }} </td>
	  <td> {{ unit.Name }} </td>
	  <td> {{ unit.LearningUnitID }} </td>
	  <td> {{ unit.Subject }} </td>
	  <td> {{ unit.LangCode }} </td>
      {% if unit.TemplateName:%}
        <td><big> <a href="/tokens?templateName={{unit.TemplateName}}&langCode={{langCode}}&extyp=exercise">{{unit.TemplateName}}</a> </big></td>
      {% else: %}
        <td>&nbsp;</td>
      {% endif %}
      {% if dictTryReadyFiles[unit.TemplateName]: %}
        <td><a href ="/genfiles/try/{{langCode}}/{{ dictTryReadyFiles[unit.TemplateName] }}"> Try-It</a></td>
      {% else: %}
        <td>&nbsp;</td>
      {% endif %}
	  <td> {{ unit.CreatedDate.strftime('%Y-%m-%d') }} </td>
	  <td> {{ unit.Status }} </td>
	  <td> {{ unit.StatusDate.strftime('%Y-%m-%d') }} </td>
<!--	  <td><a href ="/units/edit/{{ unit.key.id() }}">edit </a></td> -->
    </tr>
    {% endfor %}	
  </tbody>
 </table>

{% if currentuser|AccessOK(221) and langCode == 'en' %} 
<p><a href="/units/create">Add New Exercise Topic</a></p> 
{% endif %}

{% endblock content %}
