{% extends "page_template.html" %}
{% block content %}
<div>
<table width="100%" border="0" bordercolor="red" cellpadding="0" cellspacing="0">
    <tr style="vertical-align:middle;"><td>
        <table border="1" bordercolor="red" cellpadding="9" cellspacing="0">
            <tr><td>
<!--            {% if TopGrpFilter: %}
                    <p><a href ="/topgrps?TopGrpFilter={{TopGrpFilter}}&StatusFilter=all&langCode={{langCode}}&rq=2"> Return to Exercise Topic Group List</a></p>
                {% else: %}
                    <p><a href ="/topgrps?StatusFilter=all&langCode={{langCode}}&rq=2"> Return to Exercise Topic Group List</a></p>
                {% endif %}
-->
                <a href ="/topgrps?StatusFilter=all&langCode={{langCode}}&SubjFilter={{SubjFilter}}&rq=2"> Return to Topic Groups</a>
            </td><td style="background-color:pink;">
                <a href ="/units?TopGrpFilter={{ TopGrpFilter }}&StatusFilter=all&langCode={{langCode}}&Typ={{Typ}}&rq=2">Switch to List Mode</a>
            </td></tr>
        </table>
    </td><td style="float: left;">
        <table border="1" bordercolor="red" cellpadding="3" cellspacing="0">
            <tr><td style="vertical-align:middle; text-align: right;">
                Filter List:
            </td><td>
            <!--    <div style="float: left;"> -->
                <form method="GET" style="margin-right: 10px;">
                <select name="langCode">
                    {% for language in languages %}
                            <option value="{{language.langCode}}" 
                            {% if language.langCode == langCode %}
                            selected="selected"
                            {% endif %}
                            >{{language.langName}}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="Select Language">
                </form>
            </td><td>
                <form method="GET">
                  <div class="field-wrapper" style="float: left; margin-left: 10px;">
                    <div class="field-field">
                        <select name="StatusFilter">
                            <option value="all" 
                            {% if 'all' == StatusFilter %}
                                    selected="selected"
                                {% endif %}
                                >All</option>
                            {% for Status in StatusList %}
                                <option value="{{Status}}" 
                                {% if Status == StatusFilter %}
                                    selected="selected"
                                {% endif %}
                                >{{Status}}</option>
                            {% endfor %}
                        </select>
                    </div>
                  </div>
                  <input style="float: left; margin-left: 10px; text-align:bottom;" type="submit" value="Select Status">
                </form>
            </td></tr>
        </table>
    </td></tr>
</table>
{% if TopGrpFilter: %}
    <h2 style="text-align: center;">Topics in Topic Group: {{TopGrpFilter}}</h2>
    <p><a href ="/topgrps?TopGrpFilter={{TopGrpFilter}}&StatusFilter=all&langCode={{langCode}}&rq=2"> Return to Exercise Topic Group List</a></p>
{% else: %}
    <h2 style="text-align: center;">List of Topics</h2>
    <p><a href ="/topgrps?StatusFilter=all&langCode={{langCode}}&rq=2"> Return to Exercise Topic Group List</a></p>
{% endif %}
{% if langCode != 'en': %}
<p>There are {{count_en}} Topics in English and {{count_other_language}} Topics in {{langName}}.
  {% if count_en > count_other_language: %}
    	  <td style="text-align: center;"><a href ="/topgrps/clone?langCode={{langCode}}"> Clone missing Subjects.</a></td>
        {% endif %}
  {% endif %}
  Please note that Subjects names in other languages are initially the same as in English until you translate them.  <span style="text-align: center; color: red; font-weight: bold;">Note: The ID = the original name in English and cannot be changed.</span><br />
  <span style="color:red; font-weight:bold;">Click on the template name if present to go to the translation page for the exercise content.</span>
</p>
{% if currentuser|AccessOK(221) and langCode == 'en' %} 
    {% if TopGrpFilter: %}
        <p><a href="/units/create?TopGrpFilter={{TopGrpFilter}}">Create New Exercise Topic</a></p> 
    {% else: %}
        <p><a href="/units/create">Create New Exercise Topic</a></p> 
    {% endif %}
{% endif %}
<table width = 100% border=2 cellspacing=0 cellpadding=2>
  <thead>
    <tr>
      <th>ID</th>
      <th>Topic</th>
      <th>Seq</th>
      <th>Lang.</th>
      <th>Topic Grp</th>
	  <th>Created/Status Date</th>
      <th>Update</th>
    </tr>
  </thead>
  <tbody>
    {% for unit in units: %} 
	<tr class="{{ loop.cycle('odd1', 'even1') }}">
    <form name="edit" action="/unitseditpost/{{ unit.key.id() }}" method="POST" id="myForm">
        <td><a href ="/units?TokensFilter={{ unit.LearningUnitID }}&StatusFilter=all&langCode={{langCode}}&Typ={{Typ}}&rq=2"> {{ unit.LearningUnitID }} </a></td>

<!--    <td><a href ="/topareas?SubjFilter={{ unit.LearningUnitID }}&StatusFilter=all&langCode={{langCode}}&Typ={{Typ}}&rq=2"> {{ unit.LearningUnitID }} </a></td> -->
	  <td>
        <div class="field-field">
            <input type="text" name="Name" id="id_LearnUnitName{{ unit.key.id()}}" value="{{ unit.Name }}" size="50" />
        </div>
      </td>
	  <td>
        <div class="field-field">
        {% if unit.LangCode == 'en': %}
            <input type="text" name="Seq" id="id_LearnUnitSeq{{ unit.key.id()}}" value="{{ unit.Seq }}" size="5" />
        {% else: %}
            <input type="hidden" name="Seq" id="id_LearnUnitSeq{{ unit.key.id()}}" value="{{ unit.Seq }}" />
            {{unit.Seq}}
        {% endif %}
        </div>
      </td>
	  <td> {{ unit.LangCode }} </td>
      <td>
        <div class="field-field">
        {% if unit.LangCode == 'en': %}
            <select name="Subject" id="id_LearnUnitSubject{{ unit.key.id()}}">
            {% for Subject in TopGrpList %}
                <option value="{{Subject}}" 
                {% if Subject == unit.Subject %}
                    selected="selected"
                {% endif %}
                >{{Subject}}</option>
            {% endfor %}
            </select>
        {% else: %}
            <input type="hidden" name="Subject" id="id_LearnUnitSubject{{ unit.key.id()}}" value="{{ unit.Subject }}" />
            {{ unit.Subject }}
        {% endif %}
        </div>
      </td>
	  <td> {{ unit.CreatedDate.strftime('%Y-%m-%d') }} </td>
      <td>&nbsp;</td>
      </tr>
      <tr class="{{ loop.cycle('odd1', 'even1') }}">
      <td colspan="4">
        <div class="field-label" style="float: left;>
          <label for="id_Description">Description</label>:
          {% if unit.LangCode != 'en': %}
            (English version: {{ dict_units_en[unit.LearningUnitID] }})
          {% endif %}
        </div>
        <div class="field-field">
            <input type="text" name="Description" id="id_Description{{ unit.key.id()}}" value="{{ unit.Description }}" size="80" />
        </div>
      </td>
	  <td>
          <div class="field-wrapper">
            <div class="field-label">
              <label for="id_Status">Status</label>:
            </div>
            <div class="field-field">
                <select name="Status" id="id_Status{{ unit.key.id()}}">
                {% for Status in StatusList %}
                    <option value="{{Status}}" 
                    {% if Status == unit.Status %}
                        selected="selected"
                    {% endif %}
                    >{{Status}}</option>
                {% endfor %}
                </select>
            </div>
          </div>
      </td>
	  <td>
        <div class="field-label" style="float: left;>
          <label for="id_TemplateName">TemplateName</label>:
        </div>
        <div class="field-field">
            <input type="text" name="TemplateName" id="id_TemplateName{{ unit.key.id()}}" value="{{ unit.TemplateName }}" size="24" />
        </div>
      </td>

<!--	  <td> {{ unit.StatusDate.strftime('%Y-%m-%d') }} </td> -->
      <td>
        <input type="button" value="Update" class="listUpdate" id="{{ unit.key.id() }}"/>
        </form>
      </td>
    </tr>
    {% endfor %}	
  </tbody>
 </table>
 
  <script> 
        // wait for the DOM to be loaded 
        $(document).ready(function() { 
            // bind 'myForm' and provide a simple callback function 
             $(".listUpdate").click(function() {
            var id = $(this).attr("id");
			var string = 'Seq='+ $('#id_LearnUnitSeq'+id).val() + '&Name='+$('#id_LearnUnitName'+id).val()+ '&Status='+ $('#id_Status'+id).val()+ '&Description=' + $('#id_Description'+id).val() + '&Subject='+ $('#id_LearnUnitSubject'+id).val() + '&TemplateName='+ $('#id_TemplateName'+id).val();
			//alert (string);
			//id = '';
            //alert (id);
			 $.ajax({
               type: "POST",
               url: "/unitseditpost/"+id,
               data: string,
               cache: false,
               error: showResponse
            });
            
          }); 
        }); 
		
		
       function showResponse(responseText, statusText, xhr, $form) {
        alert(statusText);
		//return false;
        //$("span").text('' + responseText + '').show();
       }
    </script> 



{% if currentuser|AccessOK(221) and langCode == 'en' %} 
    {% if TopGrpFilter: %}
        <p><a href="/units/create?TopGrpFilter={{TopGrpFilter}}">Create New Exercise Topic</a></p> 
    {% else: %}
        <p><a href="/units/create">Create New Exercise Topic</a></p> 
    {% endif %}
{% endif %}

{% endblock content %}
