{% extends "page_template.html" %}
{% block content %}

<form action="" method="post">
  <div class="field-wrapper">
    <div class="field-label">
      <label for="id_LearnAidTitle">Learning Aid Title</label>:
    </div>
    <div class="field-field">
      <input type="text" name="Name" id="id_LearnAidTitle" size="80" />
    </div>
  </div>
<br />
<!--
  <div class="field-wrapper">
    <div class="field-label">
      <label for="id_Subject">Subject</label>:
    </div>
    <div class="field-field">
      <input type="text" name="Subject" id="id_Subject" size="80" />
    </div>
  </div>
<br />
-->

  <div class="field-wrapper">
    <div class="field-label">
      <label for="id_Subject">Subject</label>:
    </div>
    <div class="field-field">
        <select name="Subject">
        {% for Subject in SubjectList %}
            <option value="{{Subject}}" 
            >{{Subject}}</option>
        {% endfor %}
        </select>
    </div>
  </div>
<br />

<!--
 <div class="field-wrapper">
    <div class="field-label">
      <label for="id_Description">Description</label>:
    </div>
    <div class="field-field">
      <input type="text" name="Description" id="id_Description" />
    </div>
  </div>
-->
  <br>
  <input type="submit" value=submit />
</form>

{% endblock content %}

