{% extends "page_template.html" %}
{% block content %}
<h2 style="text-align: center;">Edit Subject</h2>

<form action="" method="post">
  <div class="field-wrapper">
    <div class="field-label">
      <label for="id_LearnUnitName">Subject Name</label>:
    </div>
    <div class="field-field">
        <input type="text" name="Name" id="id_LearnUnitName" value="{{ unit.Name }}" size="80" />
    </div>
  </div>
<br />


  <div class="field-wrapper">
    <div class="field-label">
      <label for="id_LearnUnitSeq">Sequence</label>:
    </div>
    <div class="field-field">
        {% if unit.LangCode == 'en': %}
            <input type="text" name="Seq" id="id_LearnUnitSeq" value="{{ unit.Seq }}" />
        {% else: %}
            <input type="hidden" name="Seq" id="id_LearnUnitSeq" value="{{ unit.Seq }}" />
            {{unit.Seq}}
        {% endif %}
    </div>
  </div>
<br />

  <div class="field-wrapper">
    <div class="field-label">
      <label for="id_Subject">Subject Area</label>:
    </div>
    <div class="field-field">
        {% if unit.LangCode == 'en': %}
            <select name="Subject">
            {% for Subject in SubjectList %}
                <option value="{{Subject}}" 
                {% if Subject == unit.Subject %}
                    selected="selected"
                {% endif %}
                >{{Subject}}</option>
            {% endfor %}
            </select>
        {% else: %}
            <input type="hidden" name="Subject" id="id_LearnUnitSubject" value="{{ unit.Subject }}" />
            {{ unit.Subject }}
        {% endif %}
        </div>
      </div>
    <br />

  <div class="field-wrapper">
    <div class="field-label">
      <label for="id_Description">Description</label>:
    </div>
    <div class="field-field">
	  <input type="text" name="Description" id="id_Description" value="{{ unit.Description }}" size="120" />
    </div>
  </div>

  <div class="field-wrapper">
    <div class="field-label">
      <label for="id_Status">Status</label>:
    </div>
    <div class="field-field">
        <select name="Status">
        {% for Status in StatusList %}
            <option value="{{Status}}" 
            {% if Status == unit.Status %}
                selected="selected"
            {% endif %}
            >{{Status}}</option>
        {% endfor %}
        </select>
    </div>
  </div>
<br />

  <div class="field-wrapper">
    <div class="field-label">
      <label for="id_LearnUnitCreatedBy">Created By</label>:
    </div>
    <div class="field-field">
        {{ unit.CreatedBy }}
    </div>
  </div>
<br />
  <div class="field-wrapper">
    <div class="field-label">
      <label for="id_LearnUnitCreatedDate">Created Date:</label>:
    </div>
    <div class="field-field">
       {{ unit.CreatedDate }}
    </div>
  </div>
  
<br />      
  
  <input type="submit" value="Update" />&nbsp;&nbsp;&nbsp;
  <input type='button' name='Delete' value="Delete" onClick='locaton.href="/subjs/Delete/{{ unit.key.id() }}";'>
  <a href ="/subjs/delete/{{ unit.key.id() }}">Delete Subject</a>
</form>

{% endblock content %}
