{% extends "page_template.html" %}
{% block content %}
<script type="text/javascript" src="js/ckeditor/ckeditor.js"></script> 
<form action="" method="post">
  <div class="field-wrapper">
    <div class="field-label">
      <label for="id_TemplateName">TemplateName</label>:
    </div>
    <div class="field-field">
      <input type="text" name="TemplateName" value="{{ PageContent.TemplateName }}" id="TemplateName" />
    </div>
  </div>

  <div class="field-wrapper">
    <div class="field-label">
      <label for="id_LangCode">Language</label>:
    </div>
    <div class="field-field">
      <input type="text" name="LangCode" value="{{ PageContent.LangCode }}" id="LangCode" />
    </div>
  </div>

  <div class="field-wrapper">
    <div class="field-label">
      <label for="id_TokenTag">TokenTag</label>:
    </div>
    <div class="field-field">
      <input type="text" name="TokenTag" value="{{ PageContent.TokenTag }}" id="TokenTag" />
    </div>
  </div>
  
  <div class="field-wrapper">
    <div class="field-label">
      <label for="id_ContentText">Text</label>:
    </div>
    <div class="field-field">
      <textarea class="field-field" rows="10" cols="50" id="editor2" name="ContentText" >{{ PageContent.ContentText }}</textarea>
	  <script type="text/javascript">
		//<![CDATA[

			CKEDITOR.replace( 'editor2',
			{
				fullPage : false
				
			});
				
		//]]>
		</script>
	</div>
    <div style="clear: both;"></div>
  </div>

  <div class="field-wrapper">
    <div class="field-label">
      <label for="id_Status">Status</label>:
    </div>
    <div class="field-field">
        <select name="Status">
        {% for Status in StatusList %}
            <option value="{{Status}}" 
            {% if Status == PageContent.Status %}
                selected="selected"
            {% endif %}
            >{{Status}}</option>
        {% endfor %}
        </select>
    </div>
  </div>


   <br />      
  
  <input type="submit" value="Update" />&nbsp;&nbsp;&nbsp;
  <input type='button' name='Delete' value="Delete" onClick='locaton.href="/pagecontents/delete/{{ PageContent.key().id() }}";'>
  <a href ="/pagecontents/delete/{{ PageContent.key().id() }}">Delete Page Content</a>
</form>
{% endblock content %}
