<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Expire" content="now">
<meta http-equiv="Pragma" content="no-cache">
<META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
<title>Simple Test of inserting content in a template</title>
<link href="/css/style.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" media="screen" href="/css/superfish.css" />
<script type="text/javascript" src="/js/ckeditor/ckeditor.js"></script> 
<script type="text/javascript" src="/js/superfish.js"></script>
<script type="text/javascript">

// initialise plugins
jQuery(function(){
	jQuery('ul.sf-menu').superfish();
});

</script>

<body>
    <div id="main">
        <div id="header">
            <div id="header_side">
                <ul>
                {% if currentuser %} 
                    {% if logout %} 
                       <li><a href="{{logout}}">Logout</a></li>
                    {% endif %} 
                    <li><a href='#'>{{currentuser}}</a></li>
                {% else %} 
                    {% if login %} 
                        <li><a href="{{login}}">Login</a></li>
                    {% endif %} 
                {% endif %} 
                </ul>
            </div>  	<!-- header_side -->
            <div id="logo"><img src="/images/learning.png" alt="Logo"/></div>
            <div id="title">Education for a Better World</div>
            <div id="slogan">A Site for Advocates of Better Education based on the Khan Academy Approach to Collaborate & Share</div>
		</div>	<!-- header -->
        <div id="sf-menu"> 
            <ul class="sf-menu">
                <li><a href="/">Home</a></li>
				{% if currentuser|AccessOK(110) %} 
                <li><a href="/papers/resources">Lrng Resources</a></li>	
                <li><a href="#">Platform</a>
					<ul>
						<li><a href="/papers/platform">Disc. Papers</a></li>

						<li><a href="#">Translations</a>
							<ul>
								<li><a href="/tokens-step1">Tokens</a></li>
							</ul>
						</li>

					</ul>
				</li>
				<li><a href="/papers/learners">Learners/Prgms</a></li>	
				<li><a href="/papers/misc">Misc Discussions</a></li>	
				{% endif %}
				<li><a href="/about">About us</a></li>
				<li><a href="/users/join">Join us</a></li>
				<li><a href="/contact">Contact Us</a></li>
				{% if currentuser|AccessOK(1) %} 
				<li><a href="#">Admin</a>
					<ul>
						<li><a href="/langs">Languages</a></li>
						<li><a href="/templates">Templates</a></li>
						<li><a href="/comments">Comments</a></li>
						<li><a href="/listtypes">List Types</a></li>
						<li><a href="/papers/all">Papers</a></li>
						<li><a href="/notes">Notes</a></li>
						<li><a href="/users">Users</a></li>
						<li><a href="/admin/permissions">Permissions</a></li>
						<li><a href="/admin/roles">Roles</a></li>
						<li><a href="/pagecontents">Page Content</a></li>
					</ul>
				</li>
				{% endif %}
			</ul>
			</div>	<!-- sf-menu -->
		<div id="contentColumn">

			<div class="wrapper">
				{% block content %}
				{% endblock content %}
			</div>	<!-- wrapper -->

		</div>	<!-- contentColumn -->
<!-- Please leave the link(s) in the footer, but please do modify it in any other way you please -->
		<div id="footer">
		    Copyright © 2012 by Education for a Better World
		</div>	<!-- footer -->
	<div> 	<!-- main -->
</body>
</html>
