{% extends "page_template.html" %}
{% block content %}
<br/>
<div class="PaperTitle">
<h1>{{Paper.Title}}</h1>
</div>
<div class="PageContentBlock">
{{Paper.Text}} 
</div>
<div class="Comments">
<h2>Comments</h2>
<p><a href="/comments/create/{{Paper.key().id()}}">Add New Comment</a> </p>
<div class="PageContentBlock">
{% set i = -1 %}
{% for Comment in Comments %}
    {% set i = i + 1 %}
    {% set mgnwidth = CommentList[Comment.CommentCode]  * 8 %}
<div style="margin: {{ mgnwidth }};">
<table id="tbl1" width = 100% border=1 cellspacing=0 cellpadding=0">
<tr>
<td>
  <table width = 100% border=1 cellspacing=0 cellpadding=2>
  <thead>
    <tr>
      <th width=40%>Title</th>
      <th>Created Date</th>
      <th>CreatedBy</th>
      <th>RefObj</th>
      <th>mgnwidth</th>
      <th>Add Comment</th>
    </tr>
  </thead>
  <tbody>
	<tr>
	  <td> {{ Comment.Title }} </td>
	  <td> {{ Comment.CreatedDate }} </td>
	  <td> {{ Comment.CreatedBy }} </td>
	  <td> {{ Comment.RefObjType }}/{{ Comment.RefObjID }}/{{ Comment.CommentCode }} </td>
	  <td> {{ Comment.mgnwidth }} </td>
	  <td><a href ="/comments/addcomment/{{ Comment.key().id() }}">Add Comment </a></td>
    </tr>
	<tr>
	</tr>
  </tbody>
  </table>
</td>
</tr>
<tr>
<td> {{ Comment.Text }} </td>
</tr>
</table>
</div>
{% endfor %}	
</div>
</div>
<br/><br/>
{% endblock content %}
