{% extends "page_template.html" %}
{% block content %}
<script type="text/javascript" src="js/ckeditor/ckeditor.js"></script> 
<form action="" method="post">
  <div class="field-wrapper">
    <div class="field-label">
      <label for="id_Title">Title</label>:
    </div>
    <div class="field-field">
      <input type="text" name="Title" value="{{ Paper.Title }}" id="Title" />
    </div>
  </div>

  <div class="field-wrapper">
    <div class="field-label">
      <label for="id_Category">Category</label>:
    </div>
    <div class="field-field">
        <select name="Category">
        {% for Category in CategoryList %}
            <option value="{{Category}}" 
            {% if Category == Paper.Category %}
                selected="selected"
            {% endif %}
            >{{Category}}</option>
        {% endfor %}
        </select>
    </div>
  </div>
  
  <div class="field-wrapper">
    <div class="field-label">
      <label for="id_Text">Text</label>:
    </div>
    <div class="field-field">
      <textarea class="field-field" rows="10" cols="50" id="editor2" name="Text" >{{ Paper.Text }}</textarea>
	  <script type="text/javascript">
		//<![CDATA[

			CKEDITOR.replace( 'editor2',
			{
				fullPage : false
				
			});
				
		//]]>
		</script>
	</div>
    <div style="clear: both;"></div>
  </div>

  <div class="field-wrapper">
    <div class="field-label">
      <label for="id_Status">Status</label>:
    </div>
    <div class="field-field">
        <select name="Status">
        {% for Status in StatusList %}
            <option value="{{Status}}" 
            {% if Status == Paper.Status %}
                selected="selected"
            {% endif %}
            >{{Status}}</option>
        {% endfor %}
        </select>
    </div>
  </div>


   <br />      
  
  <input type="submit" value="Update" />&nbsp;&nbsp;&nbsp;
  <input type='button' name='Delete' value="Delete" onClick='locaton.href="/papers/delete/{{ Paper.key.id() }}";'>
  <a href ="/papers/delete/{{ Paper.key.id() }}">Delete Paper</a>
</form>
{% endblock content %}
