{% extends "page_template.html" %}
{% block content %}

<form action="" method="post">
  <div class="field-wrapper">
    <div class="field-label">
      <label for="id_cat">Cat Code</label>:
    </div>
    <div class="field-field">
	  <input type="hidden" name="cat" id="id_cat" value="{{ cat }}" />
	  {{ cat }}
    </div>
  </div>

  <div class="field-wrapper">
    <div class="field-label">
      <label for="id_Title">Title</label>:
    </div>
    <div class="field-field">
      <input type="text" name="Title" id="Title" />
    </div>
  </div>

    <div class="field-wrapper">
    <div class="field-label">
      <label for="id_Category">Category</label>:
    </div>
    <div class="field-field">
        <select name="Category">
        {% for Category in CategoryList %}
            <option value="{{Category}}" 
            >{{Category}}</option>
        {% endfor %}
        </select>
    </div>
  </div>
  

  <div class="field-wrapper">
    
    <div class="field-label">
      <label for="id_ContentText">Text</label>:
    </div>
    
    <div class="field-field">
      <!-- <input type="text" name="text" id="id_text" /> -->
      <textarea class="field-field" rows="10" cols="50" id="editor1" name="Text" ></textarea>
      <script type="text/javascript">
			//<![CDATA[

				CKEDITOR.replace( 'editor1',
				{
					fullPage : false
					
				});
					
				
			//]]>
			</script>
    </div>
  </div>

  <div class="field-wrapper">
    <div class="field-label">
      <label for="id_Status">Status</label>:
    </div>
    <div class="field-field">
        <select name="Status">
        {% for Status in StatusList %}
            <option value="{{Status}}" 
            >{{Status}}</option>
        {% endfor %}
        </select>
    </div>
  </div>
  
  <br>
  <input type="submit" value=submit />
</form>

{% endblock content %}

