{% extends "page_template.html" %}
{% block content %}
<h2 style="text-align: center;">Add New Template</h2>
<p><a href="/templates?extyp=all">Return to Template List</a></p>
<form action="" method="post">
  <div class="field-wrapper">
    <div class="field-label">
      <label for="id_template">Template Name</label>:
    </div>
    <div class="field-field">
      <input type="text" name="Name" id="id_Name" />
    </div>
  </div>

  <div class="field-wrapper">
    <div class="field-label">
      <label for="id_FolderName">Folder Name</label>:
    </div>
    <div class="field-field">
        <select name="FolderName">
        {% for FolderName in FolderList %}
            <option value="{{FolderName}}" 
            >{{FolderName}}</option>
        {% endfor %}
        </select>
    </div>
  </div>

  <div class="field-wrapper">
    <div class="field-label">
      <label for="id_FolderName">Gen Path</label>:
    </div>
    <div class="field-field">
      <input type="text" name="FileGenPath" id="id_FileGenPath" size="240" />
    </div>
  </div>

   <div class="field-wrapper">
    <div class="field-label">
      <label for="id_TemplateType">Template Type</label>:
    </div>
    <div class="field-field">
        <select name="TemplateType">
        {% for TemplateType in TemplateTypeList %}
            <option value="{{TemplateType}}" 
            >{{TemplateType}}</option>
        {% endfor %}
        </select>
    </div>
  </div>

  <div class="field-wrapper">
    <div class="field-label">
      <label for="id_language">Description</label>:
    </div>
    <div class="field-field">
      <input type="text" name="Description" id="id_Description" />
    </div>
  </div>
  
  <div class="field-wrapper">
    <div class="field-label">
      <label for="id_token">FileName</label>:
    </div>
    <div class="field-field">
      <input type="text" name="FileName" id="id_FileName" />
    </div>
  </div>

  <div class="field-wrapper">
    <div class="field-label">
      <label for="id_Status">Status</label>:
    </div>
    <div class="field-field">
        <select name="Status">
        {% for Status in StatusList %}
            <option value="{{Status}}" 
            >{{Status}}</option>
        {% endfor %}
        </select>
    </div>
  </div>

  <br>
  <input type="submit" value=submit />
</form>

{% endblock content %}

