{% extends "page_template.html" %}
{% block content %}
<h2 style="text-align: center;">Edit Template</h2>
<p><a href="/templates?extyp=all">Return to Template List</a></p>
<form action="" method="post">
  <div class="field-wrapper">
    <div class="field-label">
      <label for="id_Name">Name</label>:
    </div>
    <div class="field-field">
        <input type="text" name="Name" id="id_Name" value="{{ template.Name }}" /
    </div>
  </div>

  <div class="field-wrapper">
    <div class="field-label">
      <label for="id_FolderName">Folder Name</label>:
    </div>
    <div class="field-field">
        <select name="FolderName">
        {% for FolderName in FolderList %}
            <option value="{{FolderName}}" 
            {% if FolderName == template.FolderName %}
                selected="selected"
            {% endif %}
            >{{FolderName}}</option>
        {% endfor %}
        </select>
    </div>
  </div>

  <div class="field-wrapper">
    <div class="field-label">
      <label for="id_TemplateType">TemplateType</label>:
    </div>
    <div class="field-field">
        <select name="TemplateType">
        {% for TemplateType in TemplateTypeList %}
            <option value="{{TemplateType}}" 
            {% if TemplateType == template.TemplateType %}
                selected="selected"
            {% endif %}
            >{{TemplateType}}</option>
        {% endfor %}
        </select>
    </div>
  </div>

  <div class="field-wrapper">
    <div class="field-label">
      <label for="id_FileName">File Name</label>:
    </div>
    <div class="field-field">
	  <input type="text" name="FileName" id="id_FileName" value="{{ template.FileName }}" />
    </div>
  </div>
  
  <div class="field-wrapper">
    <div class="field-label">
      <label for="id_Description">Description</label>:
    </div>
    <div class="field-field">
	  <input type="text" name="Description" id="id_Description" value="{{ template.Description }}" />
    </div>
  </div>

  <div class="field-wrapper">
    <div class="field-label">
      <label for="id_Status">Status</label>:
    </div>
    <div class="field-field">
        <select name="Status">
        {% for Status in StatusList %}
            <option value="{{Status}}" 
            {% if Status == template.Status %}
                selected="selected"
            {% endif %}
            >{{Status}}</option>
        {% endfor %}
        </select>
    </div>
  </div>
  
<br />      
  
  <input type="submit" value="Update" />&nbsp;&nbsp;&nbsp;
<!--  <input type='button' name='Delete' value="Delete" onClick='locaton.href="/templates/Delete/{{ template.key.id() }}";'> -->
  <a href ="/templates/delete/{{ template.key.id() }}">Delete Template</a>
</form>

{% endblock content %}
