{% extends "page_template.html" %}
{% block content %}
<h2 style="text-align: center;">Tokens for Template: {{templateName}} and Language: {{langName}}</h2>
<p><a href ="/tokens-step1?langCode={{ langCode }}"> Return to Exercise List</a></p>
<p>
{% if TemplateGenReady: %}
<a href="/tokens/translate?templateName={{templateName}}&langCode={{langCode}}">Generate Translated File</a>
{% endif %}
{% if GenFileReady: %}
    &nbsp;&nbsp;&nbsp;&nbsp;<a href ="/genfiles/genfiledownload/{{ GenFileReady }}"> Download Translated File</a>
    &nbsp;&nbsp;&nbsp;&nbsp;<a href ="/genfiles/try/{{langCode}}/{{ SearchName }}"> Try Exercise</a>
{% endif %}
</p>
<form method="GET">
    <select name="StatusFilter">
        <option value="all" 
        {% if 'all' == StatusFilter %}
                selected="selected"
            {% endif %}
            >All</option>
        {% for Status in StatusList %}
            <option value="{{Status}}" 
            {% if Status == StatusFilter %}
                selected="selected"
            {% endif %}
            >{{Status}}</option>
        {% endfor %}
    </select>
<input type="submit" value="Select Status">
</form>

<br />
{% if currentuser|AccessOK(221) and langCode == 'en' %} 
<p><a href="/tokens/createt?tName={{templateName}}">Add New Template Token</a> </p>
{% endif %}
<table width = 100% border=2 cellspacing=0 cellpadding=2>
  <thead>
    <tr>
      <th>Token</th>
      <th>Value</th>
	  <th>Status</th>
	  <th>Created</th>
      <th>CreatedBy</th>
	  {% if currentuser|AccessOK(221) %} 
      <th>Edit</th>
	  {% endif %}
    </tr>
  </thead>
  <tbody>
    {% for token in tokens %}
	<tr>
	  <td> {{ token.tknID }} </td>
	  <td> {{ token.tknValue }} </td>
	  <td> {{ token.Status }} </td>
	  <td> {{ token.CreatedDate  }} </td>
	  <td> {{ token.CreatedBy }} </td>
	  {% if currentuser|AccessOK(221) %} 
	  <td><a href ="/tokens/edit/{{ token.key.id() }}">edit </a></td>
	  {% endif %}
    </tr>
    {% endfor %}	
  </tbody>
 </table>

{% if currentuser|AccessOK(221) and langCode == 'en' %} 
<p><a href="/tokens/createt?tName={{templateName}}">Add New Template Token</a> </p>
{% endif %}
{% endblock content %}
