{% extends "page_template.html" %}
{% block content %}
<br/>
<h2 style="text-align: center;">Tokens for Template: {{templateName}} and Language: {{langName}}</h2>
<br />
<p><a href="/tokens/translate?templateName={{templateName}}&langCode={{langCode}}">Generate Translated File</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/genfiles/altdisplay?TemplateName={{templateName}}&LangCode={{langCode}}">View Translated File</a></p>
<br />
{% if currentuser|AccessOK(221) %} 
<p><a href="/tokens/create">Add New Template Token</a> </p>
{% endif %}
<table width = 100% border=2 cellspacing=0 cellpadding=2>
  <thead>
    <tr>
      <th>Token</th>
      <th>Value</th>
	  <th>Status</th>
	  <th>Created</th>
      <th>CreatedBy</th>
	  {% if currentuser|AccessOK(221) %} 
      <th>Edit</th>
	  {% endif %}
    </tr>
  </thead>
  <tbody>
    {% for token in tokens %}
	<tr>
	  <td> {{ token.tknID }} </td>
	  <td> {{ token.tknValue }} </td>
	  <td> {{ token.Status }} </td>
	  <td> {{ token.CreatedDate  }} </td>
	  <td> {{ token.CreatedBy }} </td>
	  {% if currentuser|AccessOK(221) %} 
	  <td><a href ="/tokens/edit/{{ token.key.id() }}">edit </a></td>
	  {% endif %}
    </tr>
    {% endfor %}	
  </tbody>
 </table>

{% if currentuser|AccessOK(221) %} 
<p><a href="/tokens/create">Add New Template Token</a> </p>
{% endif %}
{% endblock content %}
