{% extends "page_template.html" %}
{% block content %}
<form method="GET">
<select name="langCode">
    {% for language in languages %}
		    <option value="{{language.langCode}}" 
            {% if language.langCode == langCode %}
            selected="selected"
            {% endif %}
            >{{language.langName}}</option>
    {% endfor %}
</select>
<br/><input type="submit">
</form>
<h2 style="text-align: center;">Template Token Count for Language: {{langName}}</h2>
{% if currentuser|AccessOK(221) %} 
<p><a href="/tokens/create">Add New Template Token</a> </p>
{% endif %}
<table width = 80% border=2 cellspacing=0 cellpadding=2>
  <thead>
    <tr>
      <!-- <th>Template/Language</th> -->
      <th style="text-align: center;">Template</th>
      <th style="text-align: center;"># Tokens English</th>
	  {% if not langName == 'English': %}
      <th style="text-align: center;"># Tokens {{langName}}</th>
      {% endif %}
      <th style="text-align: center;">Clone</th>
    </tr>
  </thead>
  <tbody>
    {% for key in countmap_en %}
	<tr>
	  <td><big> <a href="/tokens?templateName={{key}}&langCode={{langCode}}">{{key}}</a> </big></td>
	  <td style="text-align: center;"> {{countmap_en[key]}} </td>
	  {% if not langName == 'English': %}
	  <td style="text-align: center;"> {{countmap_other_language[key]}} </td>
      {% endif %}
  	  <td style="text-align: center;"><a href ="/tokens/clone?templateName={{key}}&langCode={{langCode}}"> clone </a></td>
    </tr>
    {% endfor %}	

  </tbody>
 </table>

{% if currentuser|AccessOK(221) %} 
<p><a href="/tokens/create">Add New Template Token</a> </p>
{% endif %}
<br/>
{% endblock content %}
