{% extends "page_template.html" %}
{% block content %}
<h2 style="text-align: center;">Token: {{ token.tknID }} for Template: {{token.templateName}} and Language: {{token.langCode}}</h2>

<form action="" method="post">
  <div class="field-wrapper">
{% if token.langCode == 'en' %} 
    <div class="field-label">
      <label for="id_template">Template</label>:
    </div>
{% endif %}
    <div class="field-field">
	  {% if token.langCode == 'en' %} 
        <input type="text" name="templateName" id="id_template" value="{{ token.templateName }}" />
      {% else %}
        <input type="hidden" name="templateName" id="id_template" value="{{ token.templateName }}" />
      {% endif %}
    </div>
  </div>
<br />
  <div class="field-wrapper">
{% if token.langCode == 'en' %} 
    <div class="field-label">
      <label for="id_language">Language Code</label>:
    </div>
{% endif %}
    <div class="field-field">
	  <input type="hidden" name="langCode" id="id_language" value="{{ token.langCode }}" />
    </div>
  </div>
<br />
  <div class="field-wrapper">
{% if token.langCode == 'en' %} 
    <div class="field-label">
      <label for="id_token">Token ID</label>:
    </div>
{% endif %}
    <div class="field-field">
	  {% if token.langCode == 'en' %} 
        <input type="text" name="tknID" id="id_token" value="{{ token.tknID }}" />
      {% else %}
        <input type="hidden" name="tknID" id="id_token" value="{{ token.tknID }}" />
      {% endif %}
    </div>
  </div>
<br />

{% if not token.langCode == 'en' %} 
  <div class="field-wrapper">
    <div class="field-label">
      <label for="id_tknval">English Token Value</label>:
    </div>
    <div class="field-field">
      {{ tknValue_en }}
    </div>   
  </div>
<br />
{% endif %}  
<p><span style="color: red;">Please be careful when translating to not translate or change any code or function calls</span> - including paranthesis, etc.  Only translate text content.  E.g., in the following example, you would not translate (or change in any way) anything with a yellow background.  In other words, only translate the text withough the yellow backgroud: <span style="text-align: center;"><code><span style="background-color: yellow;">&lt;p&gt;</span>Round <span style="background-color: yellow;">&lt;code&gt;&lt;var&gt;commafy( NUM )&lt;/var&gt;&lt;/code&gt;</span> to the nearest <span style="background-color: yellow;">&lt;varTPLACE&lt;/var&gt;</span>.<span style="background-color: yellow;">&lt;/p&gt;</span></code></span>.  <span style="color: red;">Note, the yellow background is only here as an example, during the translation process, you have to be very careful and only change raw text content.</span></p>
  <div class="field-wrapper">
    <div class="field-label">
      <label for="id_tknval">Current Language Token Value</label>:
    </div>
    <div class="field-field">
      <input type="text" name="tknValue" id="id_tknvalue" size="120" value="{{ token.tknValue }}" />
    </div>   
  </div>
<br />
  <div class="field-wrapper">
    <div class="field-label">
      <label for="id_Status">Status</label>:
    </div>
    <div class="field-field">
        <select name="Status">
        {% for Status in StatusList %}
            <option value="{{Status}}" 
            {% if Status == token.Status %}
                selected="selected"
            {% endif %}
            >{{Status}}</option>
        {% endfor %}
        </select>
    </div>
  </div>

<br />      
  
  <input type="submit" value="Update" />&nbsp;&nbsp;&nbsp;
  <input type='button' name='Delete' value="Delete" onClick='locaton.href="/tokens/tknDelete/{{ token.key.id() }}";'>
  <a href ="/tokens/delete/{{ token.key.id() }}">Delete Token</a>
</form>
{% endblock content %}
