{% extends "page_template.html" %}
{% block content %}
<SCRIPT>
function legend(){
	if(document.all.legend.style.display == "")
		document.all.legend.style.display = "none";
	else
		document.all.legend.style.display = "";
	}
</SCRIPT>
<STYLE>
DIV.lix LI {font-family: verdana; font-weight: normal; font-size: 8pt;}
DIV.lix TD {text-align: left; font-family: verdana; font-weight: normal; font-size: 8pt;}
DIV.lix TABLE {background-color: lightyellow; text-align: left; font-family: verdana; font-weight: normal;}
</STYLE>
<DIV>

	<INPUT TYPE=BUTTON onClick='legend();' VALUE=" Display/Hide Help" NAME="ButHelp" STYLE="background-color: cornflowerblue; color: yellow;">
	<DIV ID="legend" STYLE="display: none;">
	<DIV CLASS="lix">
		<TABLE BORDER=1 CELLPADDING=2 CELLSPACING=0 WIDTH="90%" ALIGN=CENTER>
			<TR>
				<TD>
<p>The platform is actually made up of many files.  These files include container templates, exercise files templates, javascript function files that generate content for the exercise templates, etc.</p>
<p><span style="color: red; font-weight: bold;">Token</span> is a key word in this application.  A token is a placeholder for a text snippet to be translated.  A token is replaced by the applicable text in the applicable language.</p>
<p>This site includes utility functions to assist in the managing translations of all the text in these various files so that users can fully experience the platform in their preferred language.</p>
<P>For introductory documentation about using this site, click <a href="/docs/SiteDoc1.pdf" target="_blank">here</a>.</P>
				</TD>
			</TR>
		</TABLE>
	</DIV>
	</DIV>
	
</DIV>
<p>English is the default language for templates and tokens.  <span style="color: red;"><span style="font-weight: bold;">Token</span> is a key word in this application.  A token is a placeholder for a text snippet to be translated.  A token is replaced by the applicable text in the applicable language.</span>  You should not see rights to add or edit tokens in English.  The only other language currently with content examples is German.  Select English initially and look at the tokens and then switch to German and drill in again to see how one would admin the translation of content.  Click on the Help Button and the link inside the help button to see documentation in PDF format.  Eventually, the help buttons will contain context-related help for each page respectively.</p>
<br />
<form method="GET">
<select name="langCode">
    {% for language in languages %}
		    <option value="{{language.langCode}}" 
            {% if language.langCode == langCode %}
            selected="selected"
            {% endif %}
            >{{language.langName}}</option>
    {% endfor %}
</select>
<input type="submit" value="Select Language">
</form>
<h2 style="text-align: center;">Template Token Count for Language: {{langName}}</h2>
<p>The clone option lets the user clone any new tokens to the selected language.  The option is only available if the number of English tokens is greater than the number of tokens for the selected language.</p>
{% if currentuser|AccessOK(221) and langCode == 'en' %} 
<p><a href="/tokens/create">Add New Template Token</a> </p>
{% endif %}
<table width = 80% border=2 cellspacing=0 cellpadding=2>
  <thead>
    <tr>
      <!-- <th>Template/Language</th> -->
      <th style="text-align: center;">Template</th>
      <th style="text-align: center;"># Tokens English</th>
	  {% if not langName == 'English': %}
        <th style="text-align: center;"># Tokens {{langName}}</th>
        <th style="text-align: center;">Clone</th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    {% for key in countmap_en %}
        {% if key in ExerciseList: %}
        <tr>
          <td><big> <a href="/tokens?templateName={{key}}&langCode={{langCode}}">{{key}}</a> </big></td>
          <td style="text-align: center;"> {{countmap_en[key]}} </td>
          {% if not langName == 'English': %}
            <td style="text-align: center;"> {% if countmap_other_language[key]: %} {{countmap_other_language[key]}} {% else: %} 0 {% endif %}</td>
            {% if not countmap_other_language[key] or (countmap_en[key] > countmap_other_language[key]): %}
              <td style="text-align: center;"><a href ="/tokens/clone?templateName={{key}}&langCode={{langCode}}"> clone </a></td>
            {% else: %}
              <td style="text-align: center;">&nbsp;</td>
            {% endif %}
          {% endif %}
        </tr>
        {% endif %}
    {% endfor %}	

  </tbody>
 </table>

{% if currentuser|AccessOK(221) and langCode == 'en' %} 
<p><a href="/tokens/create">Add New Template Token</a> </p>
{% endif %}
<br/>
{% endblock content %}
