{% extends "page_template.html" %}
{% block content %}
<div>
<table width="100%" border="0" bordercolor="red" cellpadding="0" cellspacing="0">
    <tr style="vertical-align:middle;"><td>
        <table border="1" bordercolor="red" cellpadding="9" cellspacing="0">
            <tr><td>
                {% if extyp == 'exercise': %}
                    <a href ="/units?TopGrpFilter={{TopGrpFilter}}&langCode={{ langCode }}"> Return to Exercise Topic List</a>
                {% else: %}
                    <a href ="/tokens-step1?extyp=other&langCode={{ langCode }}"> Return to Template List</a>
                {% endif %}
            </td><td style="background-color:pink;">
                <a href ="/tokens?templateName={{templateName}}&langCode={{langCode}}&Typ={{Typ}}"> Switch to List Mode</a>
            </td></tr>
        </table>
    </td><td style="float: left;">
        <table border="1" bordercolor="red" cellpadding="3" cellspacing="0">
            <tr><td style="vertical-align:middle; text-align: right;">
                Filter List:
            </td><td>
            <!--    <div style="float: left;"> -->
                <form method="GET" style="margin-right: 10px;">
                <select name="langCode">
                    {% for language in languages %}
                            <option value="{{language.langCode}}" 
                            {% if language.langCode == langCode %}
                            selected="selected"
                            {% endif %}
                            >{{language.langName}}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="Select Language">
                </form>
            </td><td>
                <form method="GET">
                  <div class="field-wrapper" style="float: left; margin-left: 10px;">
                    <div class="field-field">
                    <select name="StatusFilter">
                        <option value="all" 
                        {% if 'all' == StatusFilter %}
                                selected="selected"
                            {% endif %}
                            >All</option>
                        {% for Status in StatusList %}
                            <option value="{{Status}}" 
                            {% if Status == StatusFilter %}
                                selected="selected"
                            {% endif %}
                            >{{Status}}</option>
                        {% endfor %}
                    </select>
                    </div>
                  </div>
                  <input style="float: left; margin-left: 10px; text-align:bottom;" type="submit" value="Select Status">
                </form>
            </td></tr>
        </table>
    </td></tr>
</table>

{% if TemplateGenReady: %}
    <table border="1" bordercolor="red" cellpadding="9" cellspacing="0">
        <tr><td>
                <a href="/tokens/translate?templateName={{templateName}}&langCode={{langCode}}">Generate Translated File</a>
            {% if GenFileReady: %}
                &nbsp;&nbsp;&nbsp;&nbsp;<a href ="/genfiles/genfiledownload/{{ GenFileReady }}"> Download Translated File</a>
                &nbsp;&nbsp;&nbsp;&nbsp;<a href ="/genfiles/try/{{langCode}}/{{ SearchName }}"> Try Exercise</a>
            {% endif %}
        </td></tr>
    </table>
{% else: %}
    <p style="color:red;">Once all the tokens for a template in a specific language have a status of 'published', then the option to generate the translated file will be presented.</p>
{% endif %}
<h2 style="text-align: center;">Tokens for Template: {{templateName}} and Language: {{langName}}</h2>

<p>
{% if langCode != 'en': %}
There are {{count_en}} Topics in English and {{count_other_language}} Topics in {{langName}}.
  {% if count_en > count_other_language: %}
    	  <td style="text-align: center;"><a href ="/tokens/clone?templateName={{templateName}}&langCode={{langCode}}"> Clone missing Tokens.</a></td>
        {% endif %}
  {% endif %}
  Please note that Token Values in other languages are initially the same as in English until you translate them.
</p>
<br />
{% if currentuser|AccessOK(221) and langCode == 'en' %} 
<p><a href="/tokens/createt?tName={{templateName}}">Add New Template Token</a> </p>
{% endif %}

<table width = 100% border=2 cellspacing=0 cellpadding=2>
  <thead>
    <tr>
      <th>ID/Lang.</th>
      <th>Token Value</th>
      <th>Status</th>
      <th>Update</th>
    </tr>
  </thead>
  <tbody>
    {% for token in tokens: %} 
	<tr class="{{ loop.cycle('odd1', 'even1') }}">
    <form name="edit" action="/tokenslisteditpost/{{ token.key.id() }}" method="POST" id="myForm">
      <td>{{ token.tknID }}</td>
      <td>
        <div class="field-wrapper" style="max-width:520px;">
          <table border=0 cellspacing=0 cellpadding=0><tr><td style="max-width:520px; word-wrap:break-word;">
            <div class="field-label" style="float: left;>
              <label for="id_tknValue">Token Value</label>:
              {% if token.langCode != 'en': %}
                : English version: <code><xmp>{{ dict_units_en[token.tknID] }}</xmp></code>
              {% endif %}
            </div>
          </td></tr>
          <tr><td>
            <div class="field-field">
                <input type="text" name="tknValue" id="id_tknValue{{ token.key.id() }}" value="{{ token.tknValue }}" size="96" />
            </div>
          </td></tr></table>
        </div>
      </td>
	  <td>
          <div class="field-wrapper">
            <div class="field-label">
              <label for="id_Status">Status</label>:
            </div>
            <div class="field-field">
                <select name="Status" id="id_Status{{ token.key.id() }}">
                {% for Status in StatusList %}
                    <option value="{{Status}}" 
                    {% if Status == token.Status %}
                        selected="selected"
                    {% endif %}
                    >{{Status}}</option>
                {% endfor %}
                </select>
            </div>
          </div>
      </td>
      <td>
        <input type="button" value="Update" class="listUpdate" id="{{ token.key.id() }}"/>
        </form>
      </td>
    </tr>
    {% endfor %}	
  </tbody>
 </table>
 
  <script> 
        // wait for the DOM to be loaded 
        $(document).ready(function() { 
            // bind 'myForm' and provide a simple callback function 
             $(".listUpdate").click(function() {
            var id = $(this).attr("id");
			var string = 'tknValue='+$('#id_tknValue'+id).val() + '&Status=' + $('#id_Status'+id).val();
			//alert (string);
			//id = '';
            //alert (id);
			 $.ajax({
               type: "POST",
               url: "/tokenslisteditpost/"+id,
               data: string,
               cache: false,
               error: showResponse
            });
          }); 
        }); 
		
		
       function showResponse(responseText, statusText, xhr, $form) {
        alert(statusText);
		//return false;
        //$("span").text('' + responseText + '').show();
       }
    </script> 

{% if currentuser|AccessOK(221) and langCode == 'en' %} 
<p><a href="/tokens/createt?tName={{templateName}}">Add New Template Token</a> </p>
{% endif %}

{% endblock content %}
