{% extends "page_template.html" %}
{% block content %}

<form action="" method="post">
  <div class="field-wrapper">
    <div class="field-label">
      <label for="id_template">Template</label>:
    </div>
    <div class="field-field">
        <select name="templateName">
        {% for template in templates %}
            <option value="{{template.Name}}"
			>{{template.Name}}</option>
        {% endfor %}
        </select>
    </div>
  </div>

  <div class="field-wrapper">
    <div class="field-label">
      <label for="id_language">Language</label>:
    </div>
    <div class="field-field">
	  <input type="hidden" name="langCode" id="id_UserID" value="en" />
	  English
    </div>
  </div>
  

  <div class="field-wrapper">
    <div class="field-label">
      <label for="id_token">Token Nbr</label>:
    </div>
    <div class="field-field">
      <input type="text" name="tknID" id="id_token" />
    </div>
  </div>
  
<div class="field-wrapper">
    <div class="field-label">
      <label for="id_tknval">Token Value</label>:
    </div>
    <div class="field-field">
      <input type="text" name="tknValue" id="id_tknvalue" />
    </div>   
  </div>

  <br>
  <input type="submit" value=submit />
</form>

{% endblock content %}

