{% extends "page_template.html" %}
{% block content %}

<form action="" method="post">
  <div class="field-wrapper">
    <div class="field-label">
      <label for="id_UserID">UserID</label>:
    </div>
    <div class="field-field">
	  <input type="hidden" name="UserIDx" id="id_UserID" value="{{ userx.UserID }}" />
{{ userx.UserID }}
    </div>
  </div>

   <div class="field-wrapper">
    <div class="field-label">
      <label for="id_FirstName">First Name</label>:
    </div>
    <div class="field-field">
      <input type="text" name="FirstName" id="id_FirstName" value="{{ userx.FirstName }}" size="30"/>
    </div>
  </div>

   <div class="field-wrapper">
    <div class="field-label">
      <label for="id_LastName">Last Name</label>:
    </div>
    <div class="field-field">
      <input type="text" name="LastName" id="id_LastName" value="{{ userx.LastName }}" size="30"/>
    </div>
  </div>

  <div class="field-wrapper">
    <div class="field-label">
      <label for="id_Role">Role</label>:
    </div>
    <div class="field-field">
        <select name="Role">
        {% for Role in RoleList %}
            <option value="{{Role}}" 
            {% if Role == userx.Role %}
                selected="selected"
            {% endif %}
            >{{Role}}</option>
        {% endfor %}
        </select>
    </div>
  </div>

   <div class="field-wrapper">
    <div class="field-label">
      <label for="id_Email">Email address we should use to communicate with you</label>:
    </div>
    <div class="field-field">
      <input type="text" name="Email" id="id_Email" value="{{ userx.Email }}" size="50"/>
    </div>
  </div>

  <div class="field-wrapper">
    <div class="field-label">
      <label for="id_Descr">Explanation of why you want access including the language you primarily are involved with</label>:
    </div>
    <div class="field-field">
	  <input type="text" name="Descr" id="id_Descr" value="{{ userx.Descr }}" size="80"/>
    </div>
  </div>

  <div class="field-wrapper">
    <div class="field-label">
      <label for="id_Status">Status</label>:
    </div>
    <div class="field-field">
        <select name="Status">
        {% for Status in StatusList %}
            <option value="{{Status}}" 
            {% if Status == userx.Status %}
                selected="selected"
            {% endif %}
            >{{Status}}</option>
        {% endfor %}
        </select>
    </div>
  </div>
  
<br />      
  
  <input type="submit" value="Update" />&nbsp;&nbsp;&nbsp;
  <input type='button' name='Delete' value="Delete" onClick='locaton.href="/users/Delete/{{ userx.key.id() }}";'>
  <a href ="/users/delete/{{ userx.key.id() }}">Delete User</a>
</form>

{% endblock content %}
